<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="4" verbose="2" preserve-order="true" name="F:/Assignment">
        <classes>
            <class name="tests.searchTest">
                <methods>
                    <include name="searchMobilePhones"/>
                    <include name="searchAppleStore"/>
                    <include name="searchItems"/>
                    <include name="addToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>